.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-10);
}

.title {
  margin: 0;
  font-family: var(--font-heading);
  font-size: 26px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-10);
  align-items: center;
}

@media (min-width: 900px) {
  .title {
    font-size: 30px;
  }
}
