.page {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}

.title {
  margin: 0;
  font-family: var(--font-heading);
  font-size: 26px;
}

@media (min-width: 900px) {
  .title {
    font-size: 30px;
  }
}
