.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-18);
}

.error {
  margin: 0;
  font-weight: 500;
  color: var(--urgent-text);
}

.actions {
  display: flex;
  gap: var(--space-10);
}

.actions .action {
  flex-grow: 1;
  height: 50px;
  font-size: 16px;
}

.actions .action[data-variant="secondary"] {
  color: var(--ink);
}
